header {
    background: #ffffff;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  
  header div,  header a {
    display: inline-block;
  }
  
  header a {
    float: right;
    margin-top: 20px;
    margin-right: 10%;
  }
  
  header .logo {
    margin-left: 0%;
  }
  
  header .logo img {
    width: 150px;
  }
  body .room {
    display: inline-block;
    margin-left: 10%;
  }
  
  body .room {
    margin-left: 10%;
  }
  
  body .room img {
    width: 350px;
    height: 150px;
  }
  

  body .room1 img {
    width: 350px;
    height: 250px;
  }
  
  body  .room1 {
    display: inline-block;
  }
  body .room1 {
    margin-left: 5%;
  }
  .We{
   
    margin-left: 40%;
   
  }
  .com{
  margin-top: 5%;
  }
  
  .data_b1{
  margin-top: 0%;
  margin-left: 30%;  
  }
  
  .b1, .b2{
  margin-bottom: 2%;
  margin-left: auto;
  margin-right: auto;
  }
  
  
  
  .po1{
    display: inline-block;
     margin-left: -40%;
  }
  
  .po2, .po3{
    display: inline-block;
     margin-left: 35%;
  }
  
  .i1, .i2, .i3{
    display: inline-block;
     margin-left: 20%;
  }


  #formulario_crear {
    width: 50%;
    margin-left: 20%;
    margin-right: auto;
  }
  
  #formulario_crear input {
    margin-top: 5px;
  }
  
  #btn_crear {
    float: right;
  }

  #cancelar_usuario {
    margin-top: -20px;
  }
  
  .lado {
    width: 20%;
  }

  .lado, .contenedor{
    display: inline-block;
  }

  .contenedor{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

  #entrada_clave{  
    margin-left: auto;
    margin-right: auto;
  }