<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SLS DUBAI</title>
    <!-- <link rel="stylesheet" href="static/css/bootstrap.css">     -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}" />
    <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}" />
    {% block src %} {% endblock %}
</head>
<body>

    {% block body %}
    
    {% endblock %}
</body>

    <script src={{ url_for('static', filename='js/process.js') }}></script>
    <script src={{ url_for('static', filename='js/bootstrap.js') }}></script>
    <script src="https://cdn.tailwindcss.com/"></script>
    {% block script %} {% endblock %}
</html>