{% extends 'base.html' %}

{% block body %}
<div class="flex justify-center items-center bg-[#453246] h-screen">
  <div class="flex flex-col h-screen">
    <span class="text-center font-semibold text-white my-2"> Haz click para registrar habitación</span>
    <button onclick="location.href='/CrearRoom'" class="bg-transparent hover:bg-green-500 text-green-400 font-semibold hover:text-white py-2 px-4 border border-green-500 hover:border-transparent rounded">
      Button
    </button>
    <div class="overflow-x-auto my-5">
      <table class="min-w-full text-sm divide-y divide-gray-200 bg-white">
        <thead>
          <tr>
            <th class="p-4 font-medium text-left text-gray-900 whitespace-nowrap">
              <div class="flex items-center">
                Numero
              </div>
            </th>
            <th class="p-4 font-medium text-left text-gray-900 whitespace-nowrap">
              <div class="flex items-center">
                Tipo
              </div>
            </th>
            <th class="p-4 font-medium text-left text-gray-900 whitespace-nowrap">
              <div class="flex items-center">
                Status
              </div>
            </th>
            <th class="p-4 font-medium text-left text-gray-900 whitespace-nowrap">
              <div class="flex items-center">
                Precio
              </div>
            </th>
            <th class="p-4 font-medium text-center text-gray-900 whitespace-nowrap">
              <div>
                Accion
              </div>
            </th>
          </tr>
        </thead>
    
        <tbody class="divide-y divide-gray-100">
          {% for index in range(rooms|length) %}
          <tr>
            </td>
            <td class="p-4 font-medium text-gray-900 whitespace-nowrap">
              {{rooms[index][0]}}
            </td>
            <td class="p-4 text-gray-700 whitespace-nowrap">{{rooms[index][1]}}</td>
            <td class="p-4 text-gray-700 whitespace-nowrap">
              {% if rooms[index][3]=="Reservada"%}
                <strong
                  class="bg-red-100 text-red-700 px-3 py-1.5 rounded text-xs font-medium"
                >
                  {{rooms[index][3]}}
                </strong>
              {% else %}
              <strong
                  class="bg-green-100 text-green-700 px-3 py-1.5 rounded text-xs font-medium"
                >
                  {{rooms[index][3]}}
                </strong>
              {% endif %}
            </td>
            <td class="p-4 text-gray-700 whitespace-nowrap">{{rooms[index][2]}}</td>
            <td class="p-4 text-gray-700 whitespace-nowrap">
              <button class="bg-transparent hover:bg-yellow-500 text-yellow-400 font-semibold hover:text-black py-2 px-4 border border-yellow-500 hover:border-transparent rounded">
                Editar
              </button>
              <button class="bg-transparent hover:bg-red-500 text-red-400 font-semibold hover:text-white py-2 px-4 border border-red-500 hover:border-transparent rounded">
                Eliminar
              </button>
            </td>
          </tr>
          {% endfor %}
          <!-- <tr>
            <td class="p-4 font-medium whitespace-nowrap">2</td>
            <td class="p-4 text-gray-700 whitespace-nowrap">Premium</td>
            <td class="p-4 whitespace-nowrap">
              <strong
                class="bg-green-100 text-green-700 px-3 py-1.5 rounded text-xs font-medium"
              >
                Paid
              </strong>
            </td>
            <td class="p-4 text-gray-700 whitespace-nowrap">450650</td>
            <td class="p-4 text-gray-700 whitespace-nowrap">
              <button class="bg-transparent hover:bg-yellow-500 text-yellow-400 font-semibold hover:text-black py-2 px-4 border border-yellow-500 hover:border-transparent rounded">
                Editar
              </button>
              <button class="bg-transparent hover:bg-red-500 text-red-400 font-semibold hover:text-white py-2 px-4 border border-red-500 hover:border-transparent rounded">
                Eliminar
              </button>
            </td>
          </tr>
    
          <tr>
            <td class="p-4 font-medium whitespace-nowrap">3</td>
            <td class="p-4 text-gray-700 whitespace-nowrap">
              Suite
            </td>
            <td class="p-4 text-gray-700 whitespace-nowrap">
              <strong
                class="bg-amber-100 text-amber-700 px-3 py-1.5 rounded text-xs font-medium"
              >
                Partially Refunded
              </strong>
            </td>
            <td class="p-4 text-gray-700 whitespace-nowrap">450650</td>
            <td class="p-4 text-gray-700 whitespace-nowrap">
              <button class="bg-transparent hover:bg-yellow-500 text-yellow-400 font-semibold hover:text-black py-2 px-4 border border-yellow-500 hover:border-transparent rounded">
                Editar
              </button>
              <button class="bg-transparent hover:bg-red-500 text-red-400 font-semibold hover:text-white py-2 px-4 border border-red-500 hover:border-transparent rounded">
                Eliminar
              </button>
            </td>
          </tr> -->
        </tbody>
      </table>
    </div>
    

  </div>


</div>
{% endblock %}