{% extends 'user_main.html' %}

{% block src %} 
<link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.css')}}" />
<link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}" />
{% endblock %}

{% block body_user %}

<div class="contenedor">
      <table class="table table-striped table-hover" id="lista_usuario">
            <tr>
              <th>#</th>
              <th>ID</th>
              <th>Correo</th>
              <th>Nombre</th>
              <th>Fecha de nacimiento</th>
              <th>Acciones</th>
            </tr>
        
            {% for index in range(usuarios|length) %}
        
            <tr>
                <td>{{ index }}</td>
                <td>{{ usuarios[index][0] }}</td>
                <td>{{ usuarios[index][2] }}</td>
                <td>{{ usuarios[index][1] }}</td>
                <td>{{ usuarios[index][3] }}</td>
                <td>
                  <a href="/ver/{{usuarios[index][0]}}" class="btn btn-secondary">Ver</a>
                  <a href="/editar/{{usuarios[index][0]}}" class="btn btn-warning">Editar</a>
                  <button class="btn btn-danger eliminar_usuario" id="{{usuarios[index][0]}}" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Eliminar
                  </button>
                </td>
            </tr>
        
            {% endfor %}
        
            
          </table>
</div> 

{% endblock %}

