{% extends 'user_main.html' %}

{% block src %} 
<link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}" />
<link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.css')}}" />
{% endblock %}

{% block body_user %}

<div class="contenedor flex flex-col">
  <div class="flex flex-col" id="lista_usuario">
      <table class="table table-striped table-hover" >
            <tr>
              <th>#</th>
              <th>ID</th>
              <th>Usuario</th>
              <th>Nombre</th>
              <th>Correo</th>
              <th>Categoria</th>
              <th>Acciones</th>
            </tr>
        
            {% for index in range(usuarios|length) %}
        
            <tr>
                <td>{{ index +1}}</td>
                <td>{{ usuarios[index][0] }}</td>
                <td>{{ usuarios[index][1] }}</td>
                <td>{{ usuarios[index][2] }}</td>
                <td>{{ usuarios[index][3] }}</td>
                <td>{{ usuarios[index][4] }}</td>
                <td>
                  <a href="/ver/{{usuarios[index][0]}}" class="btn btn-secondary">Ver</a>
                  <a href="/editar/{{usuarios[index][0]}}" class="btn btn-warning">Editar</a>
                  <button class="btn btn-danger eliminar_usuario" id="{{usuarios[index][0]}}" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Eliminar
                  </button>
                </td>
            </tr>
        
            {% endfor %}
        
            
          </table>
    </div>
</div> 


<button data-bs-toggle="modal" data-bs-target="#exampleModal" id="abrir_modal" hidden>
  Abrir Modal
</button>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Error</h5>
        <button type="button" class="btn-close " data-bs-dismiss="modal" aria-label="Close" id="cerrar_modal"></button>
      </div>
      <div class="modal-body" id="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary  bg-[#26B15F] " data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary bg-[#F3152F]" id="confirmar_modal">Confirmar</button>
      </div>
    </div>
  </div>
</div>


{% endblock %}

