{% extends 'base.html' %}

{% block body %}
<div class="bg-[#a08268]">
  <header class="mb-10">
    <nav class="bg-white border-gray-200 px-2 sm:px-4 py-2.5 dark:bg-gray-900">
      <div class="container flex flex-wrap justify-between items-center mx-auto">
        <a class="flex items-center">
          <img src="static/images/lgo sls.jpeg" class="mr-3 h-24">
          <span class="self-center text-xl font-semibold whitespace-nowrap text-[#73baaf]">SLS DUBAI</span>
        </a>
        <button data-collapse-toggle="navbar-default" type="button"
          class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
          aria-controls="navbar-default" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
              clip-rule="evenodd"></path>
          </svg>
        </button>
        <div class="hidden w-full md:block md:w-auto" id="navbar-default">
          <ul
            class="flex flex-col p-4 mt-4 bg-gray-50 rounded-lg border border-gray-100 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
            <li>
              <a href="/"
                class="block text-lg py-2 pr-4 pl-3 text-white bg-blue-700 rounded md:bg-transparent md:text-indigo-500 md:p-0 dark:text-white"
                aria-current="page">Home</a>
            </li>
            <li>
              <a href="/user"
                class="block text-lg py-2 pr-4 pl-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">ingresar</a>
            </li>
            <li>
              <a href="/login"
                class="block text-lg py-2 pr-4 pl-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <div class="mx-10 flex flex-col justify-center items-center">
    <div class="mb-5 bg-">
      <h1 class="text-center text-3xl font-semibold bg-[#73baaf] text-white rounded-xl">Bienvenido</h1>
      <p class="font-sans text-lg font-semibold">Es un honor recibirlo como huesped en el hotel SLS DUBAI</p>
    </div>
    <div class="flex flex-col items-center justify-center">
      <div class="grid grid-cols-3 gap-x-4">
        <div>
          <img class="w-full h-full ring-4 ring-[#534336]"
            src="static/images/xr-dxbdx-swimming-pool-50907_Feature-Hor.webp" alt="">
        </div>
        <div>
          <img class="w-full h-full ring-4 ring-[#534336]" src="static/images/room1.webp" alt="">
        </div>
        <div>
          <img class="w-full h-full ring-4 ring-[#534336]" src="static/images/room3.jpg" alt="">
        </div>
      </div>

      <div class="max-w-md py-4 px-8 bg-white shadow-lg rounded-lg my-20">
        <div class="flex justify-center md:justify-end -mt-16">
          <img class="w-20 h-20 object-cover rounded-full border-2 border-[#73baaf]" src="static/images/lgo sls.jpeg">
        </div>

        <div>
          <h2 class="text-gray-800 text-3xl font-semibold">Super genial</h2>
          <p class="mt-2 text-gray-600">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae dolores deserunt
            ea doloremque natus error, rerum quas odio quaerat nam ex commodi hic, suscipit in a veritatis pariatur
            minus consequuntur!</p>
        </div>

        <div class="flex justify-end mt-4">
          <a class="text-xl font-medium text-indigo-500">Enrique</a>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}