{% extends 'user_main.html' %}

{% block contenido %}

      <form method="post">
      <div class="data_b1">
        <label for="">Uario:</label>
        <input type="text" name="usuario" id="">
        <label for="">Clave:</label>
        <input type="text" name="clave" id="">
      </div>
       <div class="b1">

        <input type="submit" class="btn btn-primary" name="accion" value="Ingresar" >
        <input type="submit" class="btn btn-primary"name="accion" value="Registrarse">
       </div>

       <div class="b2">
        <input type="submit" class="btn btn-primary"name="accion" value="Recuperar contraseña">
       </div>

      </form>      

       
{% endblock %}