{% extends 'user_main.html' %}

{% block src %} 
<link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}" />
<link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.css')}}" />
{% endblock %}

{% block body_user %}

<div class="contenedor flex flex-col" >
  <div id="formulario_crear ">

    <h5>Datos nuevo usuario</h5>
        <input class="form-control" type="text" name="usuario" id="usuario" placeholder="Usuario">
        <input class="form-control" type="text" name="nombre" id="nombre" placeholder="Nombre">
        <input class="form-control" type="text" name="apellido" id="apellido" placeholder="Apellido">
        <input class="form-control" type="email" name="correo" id="correo" placeholder="Correo">
        <input class="form-control" type="number" name="celular" id="celular" placeholder="Celular">
        <input class="form-control" type="text" name="direccion" id="direccion" placeholder="Dirección">
        <input class="form-control"type="date" name="fecha_nacimiento" id="fecha_nacimiento" placeholder="Fecha de nacimiento">
        <input class="form-control"type="password" name="pasword" id="pasword" placeholder="Pasword">
        <input class="form-control"type="password" name="Pasword_confirmacion" id="Pasword_confirmacion" placeholder="Confirmación del pasword">
        <input class="bg-[#303387] text-white px-6 py-1 rounded-lg" type="submit" name="accion" id="btn_crear" value="Crear Usuario">  
        <button class="bg-[#F3152F] text-white px-6 py-1 rounded-lg" id="cancelar_usuario" onclick="location.href='/user'" >Cancelar</button>   
  </div>   
</div> 


       
{% endblock %}
