{% extends 'user_main.html' %}

{% block src %} 
<link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}" />
{% endblock %}

{% block body_user %}

  <div class="contenedor">

      <form method="post" class="items-center justify-center flex flex-col" >
      <div class="data_b1 mb-10">
        <label for="">Usuario:</label>
        <input type="text" name="usuario" id="" class="border border-gray-400 rounded-lg mr-5">
        <label for="">Clave:</label>
        <input type="password" name="clave" id="" class="border border-gray-400 rounded-lg ">
      </div>
       <div class="b1">
        <input type="submit" class="bg-[#73baaf] text-white px-6 py-1 rounded-lg" name="accion" value="Ingresar" >
        <input type="submit" class="bg-[#73baaf] text-white px-6 py-1 rounded-lg"name="accion" value="Registrarse">
       </div>

       <div class="b2 my-5">
        <input type="submit" class="bg-[#73baaf] text-white px-6 py-1 rounded-lg"name="accion" value="Recuperar contraseña">
       </div>

      </form>  
      
    </div>

      <script>
        var category = '{{ category }}';
      </script>

        <!-- sweetAlert2 -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
        <!-- Generamos una nueva variable de messages con sweetalert2 -->
                    {% if category == 'error' %}
                        <script>
                            Swal.fire({
                                position: 'center',
                                icon: 'error',
                                text: "El usuario o la clave están erradas",
                                showConfirmButton: true,
                                timer: 5000
                            })
                        </script>
                    {% endif %}

       
{% endblock %}

